<div class="d-flex m-4">
  <div class="col-md-12 order-md-1">
    <h4 class="mb-3">Informações básicas</h4>
    <form class="needs-validation" novalidate="">

      <!-- Name fields -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="firstName">Nome</label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="lastName">Sobrenome</label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required="">
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>
      </div>

      <!-- Emails -->
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>


      <!-- Addresses -->
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="zip">CEP</label>
          <input type="text" class="form-control" id="zip" placeholder="" required="">
          <div class="invalid-feedback">
            CEP required.
          </div>
        </div>
        <div class="col-md-4">
          <label for="state">Estado</label>
          <select class="custom-select d-block w-100" id="state" required="">
            <option value="">Escolha um...</option>
            <option>Pernambuco</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid state.
          </div>
        </div>
        <div class="col-md-4">
          <label for="city">Cidade</label>
          <select class="custom-select d-block w-100" id="city" required="">
            <option value="">Escolha uma...</option>
            <option>Recife</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid city.
          </div>
        </div>        
      </div>

      <div class="row mb-3">
        <div class="col-md-12">
          <label for="address">Endereço</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" required="">
          <div class="invalid-feedback">
            Please enter your shipping address.
          </div>
        </div>
      </div>
      
      <div class="row mb-3">
        <div class="col-md-4">
          <label for="address2">Complemento <span class="text-muted">(Opcional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>
        <div class="col-md-4">
          <label for="number">Número</label>
          <input type="text" class="form-control" id="number" placeholder="" required="">
          <div class="invalid-feedback">
            Número is required
          </div>
        </div>
        <div class="col-md-4">
          <label for="cc-cvv">Bairro</label>
          <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
          <div class="invalid-feedback">
            Bairro is required
          </div>
        </div>
      </div>

      <hr class="mb-4">
      <!-- Button Area -->
      <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar-se</button>

    </form>
  </div>
</div>