<h3>SOBRE NÓS</h3> 

	<p>A chegada de uma criança traz muita alegria para um lar. E junto com ela, uma infinidade de utensílios, roupas, sapatos, brinquedos, acessórios, móveis e mais uma infinidade de produtos lindos e coloridos. Aí a criança cresce tão rápido e quando se percebe muitos dos presentinhos e comprinhas feitas com muito amor ficam sem utilidade porém em perfeito estado e as vezes até nunca chegou a ser usado.</p> 

	<p>Nesse momento você se pergunta o que fazer com tanta coisa boa, praticamente nova, e que não tem mais utilidade para o seu filho? ainda mais  que a fase de crescimento irá até depois da adolescência e até os 18 anos?</p>

	<p>Assim surgiu a idéia de gerar uma plataforma onde você pode vender produtos legais de segunda mão quase novos ou nunca usados, com descontos incríveis, diretamente para papais e mamães de todo o Brasil.</p> 

	<p>Assim quem vende recupera parte do que investiu, ajuda a quem procura produtos de qualidade com preços maravilhosos e que irá acolher os produtos com carinho, e ainda contribui para um despertar de consumo consciente para as novas gerações.</p>

 
<h4>A mamãe fica feliz e o planeta agradece.</h4>
