<p>
  Você cria sua lojinha sem pagar nada por isso, e nela inclui a quantidade de produtos que
desejar, pelo preço que bem entender.
</p>
<p>
  Oferecendo bons produtos com ótimos descontos irá vender rapidinho.
</p>
<p>
  Quando vender você envia ou combina a entrega no local.
</p>
<p>
  Poucos dias depois que seu produto é entregue você já pode sacar o pagamento de sua conta.
Nós da Crescendo e Passando recebemos de você uma comissão de 20% sobre as vendas de
seus produtos, por lhe ajudar a encontrar um comprador e para pagar todas as despesas do
site.
</p>
<p>
  Quem compra adquire produtos de qualidade com ótimos preços e você vendedor recupera
parte do que gastou com produtos que quase ou nunca usou.
</p>

<div class="w3-row">
  <div class="w3-left">
    <button type="button" class="close" data-dismiss="modal">Voltar</button>
  </div>
  <div>
    <button type="button" class="close">Crie sua lojinha</button>
  </div>
</div>
