
	<p>Encontrou produtos muito legais, quase novos e com super descontos?</p>

	<p>Então compra logo porque são peças únicas!</p>


<h4>Pagamento e como receber</h4>
	<p>Cartão de crédito, boleto ou transferência bancária. Escolha forma de pagamento de sua preferida e, após a confirmação do pagamento, o vendedor lhe enviará os produtos adquiridos.</p> 

	<p>Você escolhe no momento da compra se quer pagar o frete e receber em casa ou se prefere retirar no local (caso o vendedor ofereça esta opção).</p>

	<p>Você compra produtos de qualidade com ótimos preços e o vendedor recupera parte do que gastou com produtos que quase não usou.</p> 

<p>Simples, justo e seguro!</p>
