<h4>Para vender</h4>
<p>Você anuncia sem pagar nada por isso, a quantidade de produtos que quiser, pelo preço que bem entender.</p> 

 <p>Ofereça bons descontos em seus produtos e que eles estejam em ótimas condições de uso.</p>

<h4>Vendeu</h4>
<p>Embrulha e envia ou combina entrega.</p>
<p>Quando um papai ou mamãe compra seu produto, você se encarrega da entrega.</p> 

<p>Embrulhe com bastante cuidado, imprima ou anote o endereço de postagem e leve até uma agência dos correios.</p> 

<p>Se preferir você pode combinar a retirada do produto no local.</p>


<h4>Produto entregue, dinheiro no bolso</h4>         
<p>Poucos dias depois que seu produto é entregue, você já pode sacar o pagamento para uma conta bancária que esteja em seu nome e CPF.</p> 

<p>O Crescendo e Passando recebe uma comissão de 20% sobre os produtos vendidos por ter te ajudado a achar um comprador e para pagar todas as despesas do site.</p>
