<div>
	<h3>POLÍTICA DE PRIVACIDADE DO CRESCENDO E PASSANDO - v 1 de 27/06/2017</h3>
	<p>Esta Política de Privacidade incorpora os Termos e Condições de Uso e a utilização do site CRESCENDO E
	PASSANDO presume aceitação de ambos. 
	Em respeito a sua privacidade garantimos a confidencialidade dos dados pessoais no CRESCENDO E
	PASSANDO. A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou
	celular, endereço, data de nascimento, identidade (RG) e CPF, entre outros. 
	Todas as suas informações pessoais recolhidas, serão usadas para ajudar a tornar a sua visita no nosso site
	mais produtiva e agradável. 
	Seus dados de cadastro serão utilizados apenas para comunicar-lhe sobre suas compras e vendas. 
	A equipe do Crescendo e Passando reserva-se ao direito de alterar este termo sem aviso prévio. Qualquer
	alteração neste termo passa a valer imediatamente após sua publicação, especificada no título desta
	página. O USUÁRIO VENDEDOR, que não concordar com as alterações, deve manifestar-se de imediato,
	com finalidade de esclarecer e resolver suas dúvidas ou efetuar a rescisão do contrato entre as partes. O
	USUÁRIO COMPRADOR que não concordar com os termos deve simplesmente deixar de utilizar o site. </p>
	<h4>Os Web Beacons e os Cookies</h4>
	<p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoais quando visita o
	nosso website. Isto poderá incluir um simples popup, ou uma ligação nos serviços que oferecemos, tais
	como acesso direto à administração de seus produtos, suas compras ou suas vendas no nosso site
	Crescendo e Passando. 
	Você pode desligar/desativar os seus cookies, nas opções do seu browser, ou efetuando alterações nas
	ferramentas de programas Anti-Virus. No entanto, isso poderá alterar, ou não, a forma como interage com
	o nosso website, ou outros websites não ligados ao Crescendo e Passando. </p>
	<h4>Sites de terceiros e Ligações</h4>
	<p>O Crescendo e Passando possui ligações para outros sites, os quais, a nosso ver, podem conter informações
	/ ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de
	terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a política de privacidade do mesmo,
	não nos responsabilizamos por praticas de outras empresas/sites que não seja
	www.crescendoepassando.com.br.</p>
	<h4>Ferramentas Sociais</h4>
	<p>Todas as suas interações com ferramentas sociais como Facebook, Twitter e Google +, que ocorram dentro
	das páginas do Crescendo e Passando, irão obedecer às configurações de privacidade feitas por você em
	cada um dos mecanismos utilizados. </p>
	<h4>Certificado de Segurança SSL</h4>
	<p>Todas as transações feitas no Crescendo e Passando acontecem em ambiente criptografado (256-bit). Isso
	significa que quando enviadas do seu computador para o nosso servidor, as informações são codificadas
	com finalidade de evitar a interceptação por terceiros.</p>
	<h4>Moip</h4>
	<p>Os pagamentos feitos no Crescendo e Passando são processados e gerenciados pela empresa Moip
	Pagamentos S.A, que possui a certificação máxima do PCI-DSS, a principal certificação de segurança da
	indústria de pagamentos. 
	Para garantir a segurança e o controle anti-fraude das transações, seus dados poderão ser compartilhados
	com o Moip, caso haja necessidade de verificação ou complementação cadastral.</p> 
	<h4>Sobre o armazenamento dos dados</h4>
	<p>O Crescendo e Passando não armazena em seus servidores, sob hipótese alguma, os dados referentes a
	cartões de crédito e contas bancárias de seus VENDEDORES e COMPRADORES, portanto não pode ser
	responsabilizado pela violação de tais dados. 
	Os demais dados fornecidos pelos USUÁRIOS como, dados cadastrais, informações sobre os produtos à
	venda, histórico de compras e vendas (exceto dados de pagamento), fotos e mensagens, são armazenados
	em servidores com todos os recursos necessários para manter a segurança e a confidencialidade destas
	informações. O Crescendo e Passando entretanto não se responsabiliza por eventuais prejuízos que
	possam ocorrer com a violação desses dados por parte de terceiros, como consequências de invasões de
	hackers, em razão da dependência de serviços prestados por terceiros. </p>
	<h4>Sobre a obrigatoriedade do cadastro</h4>
	<h4>PÚBLICA</h4>
	<p>Qualquer USUÁRIO pode navegar anonimamente no Crescendo e Passando, sem a obrigatoriedade de
	cadastrar-se ou se identificar-se, caso já possua cadastro. O CADASTRO ou identificação (login) somente
	são exigidos caso o usuário queria concretizar uma compra, publicar ou editar produtos publicados em seu
	nome ou ainda enviar mensagens para outros USUÁRIOS cadastrados. 
	Troca de mensagens entre usuários
	O Crescendo e Passando permite que os usuários cadastrados e logados troquem mensagens entre si. Com
	restrições informadas a seguir: 
	</p>
	<p>Ocorre na página de detalhes de um produto e pode ser visualizada por qualquer USUÁRIO, inclusive
	anônimo, a fim de esclarecer dúvidas ou prestar informações adicionais sobre o produto em questão. 
	Para postar uma mensagem nesta tela, é necessário que o USUÁRIO se cadastre ou se identifique, caso já
	possua um cadastro no Crescendo e Passando. 
	O único dado pessoal publicado nesta troca de mensagem é o &quot;Nome&quot; do usuário. 
	Qualquer outra informação que seja digitada no conteúdo das mensagens, tais como telefones, endereços
	e nomes são de inteira responsabilidade do USUÁRIO. 
	</p>
	<h4>PRIVADA</h4>
	<p>É a troca de mensagens relacionada a uma venda. Ocorre entre o COMPRADOR e o VENDEDOR e só pode
	ser visualizada por estes 2 usuários em ambiente restrito, após login. 
	Seu principal objetivo é manter um canal de comunicação pós-venda para que ambas as partes possam
	acompanhar a conclusão do pedido e trocar informações necessárias. 
	O único dado pessoal publicado nesta troca de mensagem é o &quot;Nome&quot; do usuário. 
	Os usuários estão cientes e autorizam o monitoramento pela administração do site de todas as mensagens
	públicas ou privadas trocadas através da plataforma, visando a integração entre as partes, resolução de
	problemas ou quaisquer outros assuntos que sejam necessários para o aperfeiçoamento e boa
	administração do site, não implicando em quebra de sigilo ou violação de privacidade. </p>
	<h4>Sobre atualização dos dados</h4>
	<p>O USUÁRIO reconhece neste termo que poderá, a qualquer momento, alterar ou editar seus dados
	cadastrais, bem como os dados referentes aos seus ANÚNCIOS e sua LOJINHA, desde que mantenha a
	veracidade, exatidão, vigência e autenticidade dos dados publicados. 
	O cadastro no Crescendo e Passando é pessoal e intransferível, portanto uma vez criado, não será
	permitida a edição ou alteração dos campos CPF e RG. 
	O USUÁRIO se compromete a manter seus dados cadastrais devidamente atualizados, a fim de que outros
	USUÁRIOS ou o SITE possam contatá-los quando necessário. Para fazer qualquer edição ou atualização do
	cadastro o USUÁRIO deve acessar o link &quot;Login &gt; Meu Cadastro&quot; 
	Em caso de dúvidas sobre os Temos de Uso ou a Política de Privacidade do Crescendo e Passando, os
	usuários poderão entrar em contato direto através do email contato@crescendoepassando.com.br

	O Crescendo e Passando se compromete a manter um link visível para esta Política de Privacidade em
	todas as páginas de seu site.</p>
</div>