<h3>TERMOS E CONDIÇÕES DE USO DO CRESCENDO E PASSANDO</h3> 
<p>Os Termos e Condições de Uso, tem como objetivo esclarecer as regras de utilização do site
www.crescendoepassando.com.br, inscrito sob o CNPJ 27.739.282/0001-08. Assim como também
esclarecer os direitos, deveres e responsabilidades de todos envolvidos nos processos. 
PARA UTILIZAÇÃO DOS SERVIÇOS PRESTADOS PELO SITE CRESCENDO E PASSANDO TORNA-SE
INDISPENSÁVEL À ACEITAÇÃO DOS TERMOS E CONDIÕES DE USO DO MESMO.
O SITE assume o compromisso e se reserva o direito de modificar e melhorar este Termo de Uso, a fim
ampliar o aspecto da proteção das partes envolvidas na utilização do mesmo. 
Quaisquer alterações neste TERMO DE USO, passa a valer logo após sua publicação, especificada no título
desta página. O usuário COMPRADOR ou VENDEDOR que, por qualquer motivo, discorde das alterações,
deve manifestar-se em até 6 dias, com a finalidade de esclarecer suas dúvidas ou rescindir o contrato entre
as partes. 
As alterações no TERMO E CONDIÇÕES DE USO apenas se aplicarão aos ANÚNCIOS cadastrados após sua
publicação no SITE.
</p> 
<h4>1. PARTES ENVOLVIDAS E TERMINOLOGIAS</h4> 
<p>USUÁRIO - Pessoa que acesse o SITE, incluindo o COMPRADOR e/ou o VENDEDOR. 
VENDEDOR - Pessoa física ou jurídica que oferece PRODUTOS pouco ou nunca usados para venda no SITE
através de um ANÚNCIO. Daqui por diante, denominado VENDEDOR (ES). 
COMPRADOR - Pessoa física que pesquisa e/ou compra PRODUTOS no SITE. Daqui por diante, denominado
COMPRADOR. 
SITE - o conjunto de páginas que formam o www.crescendoepassando.com.br 
LOJA - Conjunto de anúncios do mesmo VENDEDOR. 
PRODUTOS - Mercadorias ofertadas no SITE. Devem ser produtos para bebês, crianças, adolescentes até
18 anos de idade e mães, novos ou usados e em perfeitas condições de uso. 
CADASTRO - Dados preenchidos pelo COMPRADOR ou VENDEDOR para que possam comprar ou vender no
site. 

ANÚNCIOS - Conjunto de informações sobre determinado PRODUTO incluindo, nome, preço, descrição,
fotos, informações técnicas, medidas, peso e estado de conservação. 
MOIP - MOIP PAGAMENTOS S.A, empresa responsável por gerenciar as transações financeiras, aprovar e
repassar os pagamentos, como também solucionar qualquer contestação ou discordância referente aos
pagamentos. 
CONTA MOIP - Cadastro necessário para vender produtos no SITE.
</p> 
<h4>2. OBJETO</h4> 
<p>O Crescendo e Passando, inscrito sob o CNPJ 27.739.282/0001-08, doravante denominado SITE, é um
ambiente de compra e venda online (marketplace) criado com o objetivo de oferecer uma plataforma onde
pessoas físicas e jurídicas possam comprar e vender produtos quase novos ou nunca usados para bebês,
crianças, adolescentes até 18 anos e mães. 
O SITE tem como principal missão que todos ganhem no processo. VENDEDORES conseguem recuperar
parte do que investiu em produtos que não tem mais uso para seus filhos e COMPRADORES conseguem
obter tais produtos com preços atraentes e de boa procedência/qualidade e com ótimas condições de uso
e o SITE recebe uma comissão de 20% por disponibilizar a plataforma para publicação e negociação dos
produtos e para cobrir os custos das transações financeiras gerenciadas pelo MOIP e ainda pagar seus
impostos. 
O SITE proporciona, portanto, que COMPRADORES e VENDEDORES negociem os produtos, sem intervir
nesta negociação, a não ser oferecendo as ferramentas necessárias para a publicação dos produtos,
negociação e conclusão do pagamento. 
Não é permitido que COMPRADORES e VENDEDORES negociem o pagamento por fora do site, se
isentando de pagar a comissão do Crescendo e Passando.  Também não é permitida a troca de dados
pessoais (telefones, whats app, e-mails entre outros) com objetivo de negociarem o pagamento por fora
do site sob pena de perder o direito de permanecer cadastrado e de efetuar vendas e compras no site.
A atuação do SITE está ligada à publicação dos anúncios concebidos unicamente pelos VENDEDORES, os
quais são os únicos responsáveis pela veracidade e cumprimento da oferta. O SITE não é fornecedor,
fabricante ou vendedor de nenhum produto listado em suas páginas, nem exerce a posse física dos bens
anunciados.
</p>
<h4>3. Como o SITE funciona?</h4>
<p>O VENDEDOR faz seu CADASTRO e anuncia os produtos que deseja vender, com os preços que desejar.
Tendo em vista ser coerente com preços aplicados para ter melhores resultado em suas vendas.
1. O VENDEDOR ativa sua CONTA MOIP e autoriza o envio dos pagamentos para lá.
2. O SITE publica os anúncios, organizados por lojas (vitrines) e categorias.

3. O USUÁRIO COMPRADOR pesquisa e compra os produtos que lhe interessam.
4. O MOIP processa o pagamento e, caso aprovado armazena na CONTA MOIP DO VENDEDOR, já
subtraindo a comissão de 20% do SITE como remuneração da divulgação dos produtos, da taxa da
transação financeira cobrada pelos bancos ou operadoras de cartão de crédito e a porcentagem
cobrada pelo MOIP para processar e gerenciar o pagamento.
5. O VENDEDOR entrega os produtos vendidos, conforme forma de entrega acordada por ambos e se
compromete de postar o mais rápido possível o produto vendido, caso seja esse o modo de
entrega.
6. O pagamento é liberado para saque na CONTA MOIP do VENDEDOR.
</p>
<h4>4. CADASTRO</h4> 
<p>Ao completar o CADASTRO o USUÁRIO ou o VENDEDOR declara que os dados fornecidos estão completos e
exatos, que é maior de idade e goza de plena capacidade civil e penal e que está de pleno acordo com os
TERMOS E CONDIÇÕES DE USO DO CRESCENDO E PASSANDO. 
As pessoas jurídicas deverão fazer seu cadastro através de um representante legal, informando também os
dados da empresa. 
Para poder vender no SITE é necessário que o VENDEDOR possua uma conta em banco e que seja o
titular da mesma. 
A senha criada pelo USUÁRIO ou VENDEDOR no momento de CADASTRO é pessoal e intransferível,
portanto não deve ser divulgada ou compartilhada em hipótese alguma. Se suspeitar que a senha foi
perdida ou está sendo utilizada por outra pessoa o USUÁRIO ou VENDEDOR deve acessar seu CADASTRO e
efetuar a troca da senha ou solicitar imediatamente ao SITE a criação de uma nova senha. 
O SITE reserva-se o direito de desativar, temporária ou definitivamente um CADASTRO de USUÁRIO ou
VENDEDOR, caso este não cumpra com todas as exigências deste termo. 
O SITE pode consultar entidades públicas, companhias especializas ou banco de dados e ainda, solicitar a
qualquer momento, documentos que comprovem a veracidade das informações publicadas tanto no
CADASTRO quando nos ANÚNCIOS de um vendedor. 
Caso o VENDEDOR não forneça a documentação complementar solicitada pelo SITE em até 48 horas, este
se reserva o direito de cancelar ou suspender, temporariamente ou definitivamente o CADASTRO e os
ANÚNCIOS deste vendedor, sem que qualquer ônus lhe seja devido, cabendo ainda ao VENDEDOR,
responder legalmente pelos eventuais danos causados pelas informações por ele publicadas.
5. ANÚNCIO 
Após completar seu CADASTRO o VENDEDOR cria os ANÚNCIO(S) do(s) produto(s) que deseja vender.
Todas as informações fornecidas no anúncio são de inteira responsabilidade do VENDEDOR, devendo o

mesmo se responsabilizar pelas conseqüências legais e penais de qualquer informação não verdadeira
publicada no SITE. 
Não existe limite de quantos produtos o VENDEDOR poderá cadastrar, desde que os mesmos estejam de
acordo com as exigências dos produtos aceitos pelo site. Cada produto cadastrado corresponde a um
ANÚNCIO e o grupo de anúncios corresponde à Loja (vitrine) do vendedor. 
A publicação de fotos do produto se faz obrigatória para a publicação do anúncio. O VENDEDOR se
compromete a publicar ao menos uma foto que mostre o estado real de conservação do produto. 
Caso utilize imagens do fabricante ou de qualquer outra origem, o VENDEDOR se responsabiliza pela
autorização de uso da imagem (marca). 
O SITE não se responsabiliza pelos direitos autorais das fotos publicadas nos anúncios. Em caso de
denúncia, o SITE se compromete a retirar as fotos do ar em até 48h, até que seja apurado o caso e
estabelecido acordo entre as partes envolvidas. 
6. Sobre a ENTREGA DOS PRODUTOS
Quando no ato da compra, o COMPRADOR pode escolher a forma de entrega, entre as opções
disponibilizadas pelo VENDEDOR. Caso escolha, na mesma compra, por duas formas de envio diferentes,
irá prevalecer a Retirada no Local. 
Caso o VENDEDOR tenha a modalidade de frete padrão ativo em sua Lojinha, o valor do frete escolhido
pelo COMPRADOR, será depositado na CONTA MOIP do VENDEDOR, juntamente com o valor da compra,
em até 14 dias após a aprovação do pagamento. 
Ao cadastrar um ANÚNCIO, o VENDEDOR escolhe quais das formas de entrega permitidas pelo site ele
deseja oferecer ao comprador:  Retirada no local ou envio pelos correios
Retirada no local: o VENDEDOR aceita que seu endereço de cadastro seja fornecido ao COMPRADOR,
assim que o pagamento for confirmado e se compromete a disponibilizar o(s) produto(s) comprado(s) para
retirada no referido endereço em até 48h da confirmação do pagamento. 
A retirada no local deve ser agendada entre VENDEDOR e COMPRADOR após a confirmação do pagamento
e realizada em até 7 dias após esta data. 
Envio pelo correio: Nesta opção de entrega, O VENDEDOR se compromete a embalar e enviar o(s)
produto(s) comprado(s), em até 72h, nas mesmas condições descritas no ANÚNCIO, além de informar o
código de rastreamento fornecido pelos Correios na seção Minhas Vendas no SITE para que seja
visualizado pelo comprador. 
</p>
<h4>7. PARA CÁLCULO DO FRETE</h4>
<p>Utilizando as medidas e peso fornecidas pelo VENDEDOR, o cálculo do valor do frete é feito através do
sistema Webservice dos Correios. 
Qualquer diferença no valor da postagem, decorrente da informação errada das medidas e peso do
produto, é de inteira responsabilidade do VENDEDOR que deverá arcar com tais custos.
</p> 
<h4>8. PRAZO DE ENTREGA</h4>
<p>No caso de pedidos com &quot;Envio pelo Correio&quot; O VENDEDOR se compromete a postar os produtos em um
prazo de até 3 dias úteis. 
Se este prazo por ventura se estender, é de responsabilidade do VENDEDOR entrar em contato com o
COMPRADOR, consultando-o sobre sua disponibilidade em aguardar o novo prazo de postagem. 
Após a postagem, o cumprimento do prazo de entrega é de responsabilidade dos Correios.
</p>
<h4>9. EXTRAVIO DE MERCADORIAS</h4>
<p>Em caso de extravio da mercadoria o COMPRADOR será imediatamente reembolsado pelo site. 
Fica a critério do VENDEDOR a contratação ou não do seguro dos Correios (1,5% sobre o valor declarado).
</p> 
<h4>10. ACEITAÇÃO DE PRODUTOS PELO SITE</h4>
<p>O VENDEDOR se responsabiliza pela originalidade e procedência do produto, bem como por sua entrega no
estado em que foi anunciado. 
O SITE se reserva ao direito de excluir os anúncios que não estejam de acordo com as cláusulas presentes
neste TERMO E CONDIÇOES DE USO ou que não se enquadrem no perfil de produtos aceitos. 
O SITE pode reorganizar os produtos nas categorias que julgar mais conveniente para facilitar a navegação
do usuário, podendo, inclusive, criar novas categorias e subcategorias e mudar produtos para elas.
</p> 
<h4>11. SOBRE DISPONIBILIDADE E ESTADO DE CONSERVAÇÃO DO PRODUTO</h4>
<p>O VENDEDOR garante que os produtos por ele anunciados estão conforme as condições descritas e
disponíveis para entrega imediata. Em qualquer impossibilidade de venda ou entrega, o anuncio deve ser
excluído pelo VENDEDOR imediatamente.
Os produtos anunciados no SITE devem estar funcionando perfeitamente e limpos, lavados, sem manchas,
com todas as peças componentes. 
O VENDEDOR se compromete a remover os produtos do SITE caso desista da venda por qualquer motivo
ou que torne o produto indisponível para venda no SITE.
</p> 

<h4>12. SOBRE O PREÇO DO PRODUTO</h4>
<p>O VENDEDOR pode determinar o preço que deseja cobrar pelo produto. O SITE sugere que sejam
oferecidos preços com descontos atraentes em relação ao pago originalmente e aos valores praticados no
mercado atualmente. 
O SITE se reserva o direito de retirar ou ocultar produtos que estejam com preços altos em relação ao
mercado e que possam prejudicar sua imagem perante os COMPRADORES.
</p> 
<h4>13. TAXAS e TARIFAS</h4>
<p>O VENDEDOR não paga nada ao publicar seu ANÚNCIO no SITE. Quando uma venda é concretizada, o SITE
recebe uma comissão de 20% por disponibilizar o espaço no site para publicação e negociação dos
produtos e para cobrir os custos das transações financeiras de gerenciamento do MOIP. Com O VENDEDOR
fica acordado desde já que pagará as taxas estabelecidas acima. 
As tarifas cobradas pelo MOIP pelo gerenciamento das transações já estão inclusas na comissão paga ao
SITE. 
O VENDEDOR deve arcar com o pagamento de eventuais tarifas extras cobradas pelo MOIP para
antecipação de pagamentos, limite mensal de saques, entre outras que possam vir a surgir. 
Caso as tarifas praticadas pelo MOIP venham a sofrer alterações que não possam ser absorvidas pelo site,
este reajuste poderá, a qualquer momento, ser absorvido pela taxa cobrada pelo SITE. 
O SITE se reserva o direito de revisar e alterar suas tarifas, bem como criar novos serviços com cobrança de
taxas a serem previamente estabelecidas e divulgadas.
</p> 
<h4>14. CONTA MOIP</h4>
<p>O MOIP é a plataforma de pagamentos parceira do SITE, e responsável por gerenciar e aprovar as
transações financeiras através dos cartões de crédito Visa, Master Card, American Express e Hipercard,
boleto bancário ou transferência bancária pelos bancos Itaú, Bradesco e Banco do Brasil. 
Antes de começar a vender, o VENDEDOR precisa ativar/criar uma CONTA MOIP com a mesma titularidade
do cadastro criado por ele, autorizando que os pagamentos de suas vendas sejam transferidos para esta
CONTA MOIP. 
Se já possuir uma CONTA MOIP, basta que o VENDEDOR autorize a remessa de seus pagamentos para esta
conta. 
Caso não tenha uma CONTA MOIP, o VENDEDOR poderá criá-la diretamente pelo

site www.moip.com.br ou solicitar ao SITE a criação automática da conta, utilizando os dados fornecidos
no CADASTRO. 
Em ambos os casos o VENDEDOR declara, ao ativar sua CONTA MOIP, que aceita os Termos e Condições
Gerais de Uso do MOIP, disponíveis em www.moip.com.br e que possui uma conta bancária de sua
titularidade para receber os pagamentos. 
O SITE não se responsabiliza por eventuais períodos de indisponibilidade, lentidão ou falha de resposta que
os servidores do MOIP possam apresentar.
</p> 
<h4>15. PAGAMENTOS</h4>
<p>O COMPRADOR deverá escolher pela forma de pagamento que melhor lhe convier, entre as opções
oferecidas pelo SITE. 
Os pagamentos poderão ser feitos via: 
 Transferência ou débito bancário (Itaú, Bradesco ou Banco do Brasil)
 Boleto Bancário (pagável em qualquer banco)
 Cartão de Crédito (Visa, Amex, MasterCard, Hipercard)

É expressamente vedado o uso de formas de pagamento que não estejam listadas acima, sob pena de
cancelamento ou suspensão temporária ou definitiva do CADASTRO. 
É de responsabilidade do MOIP a aprovação dos pagamentos 
16. SOBRE O RECEBIMENTO DAS VENDAS
Após 14 dias da aprovação do pagamento, o VENDEDOR receberá em sua CONTA MOIP o valor da venda,
acrescido do valor do frete escolhido pelo comprador, se aplicável, e descontada a comissão de 20% do
SITE.
</p> 
<h4>17. COM RELAÇÃO À PRIVACIDADE</h4> 
<p>O SITE tomará todas as medidas possíveis para manter a segurança e a confidencialidade dos dados do
VENDEDOR E COMPRADOR, entretanto não se responsabiliza por eventuais prejuízos que possam ocorrer
com a violação desses dados por parte de terceiros. 
O SITE se compromete a não vender, alugar ou emprestar os dados de seus USUÁRIOS exceto em casos
que isso seja necessário para a perfeita prestação dos serviços ou verificação de segurança e análise de
risco. 
O SITE pode ser obrigado a revelar determinadas informações do CADASTRO às autoridades, em virtude de
ordens judiciais ou de disposições legais. Em caso de fraude detectada pelo Moip (parceiro de transações

financeiras) os dados do USUÁRIO poderão ser disponibilizados a pessoa lesada através ou não de medidas
judiciais. Nestes casos o SITE não responderá pelas informações reveladas. 
Você autoriza o SITE à enviar para seu email de CADASTRO ofertas de produtos e serviços, podendo
cancelar o recebimento a qualquer momento.
</p> 
<h4>18. PROPRIEDADE INTELECTUAL</h4>
<p>O uso do nome CRESCENDO E PASSANDO, bem como o conjunto de scripts que compõem o SITE, suas
telas, marca, arquivos, bancos de dados, textos institucionais e promocionais, textos de ajuda e dúvidas
frequentes, são de propriedade do SITE. Seu uso indevido, assim como a reprodução total ou parcial são
expressamente proibidos, exceto quando autorizados formalmente pelo SITE através de seus
representantes legais. 
O USUÁRIO se compromete a não copiar, reproduzir, alterar, modificar ou criar produtos ou serviços
derivados do serviço prestado pelo SITE, sob pena de responder pelas perdas e danos que causar, incluindo
honorários advocatícios, se necessários. 
As marcas, nomes e descrições dos produtos mencionadas no SITE são fornecidos pelos próprios
VENDEDORES e utilizadas apenas para fins de referência. Todas as marcas ora mencionadas são de
propriedade dos seus respectivos titulares. O SITE não é afiliado aos ou guarda relação com os titulares das
marcas dos produtos ofertados no SITE.
</p> 
<h4>19. Sobre SANÇÕES</h4>
<p>O SITE poderá, a qualquer momento, desativar, suspender ou advertir um USUÁRIO, COMPRADOR ou
VENDEDOR que, por qualquer motivo esteja prejudicando a imagem ou a reputação do mesmo junto aos
demais USUÁRIOS ou à sociedade. Além disso, o SITE poderá tomar as ações legais cabíveis contra o
USUÁRIO, COMPRADOR OU VENDEDOR que descumprir qualquer item deste Termo de Uso. 
Caso o USUÁRIO, COMPRADOR OU VENDEDOR sugira ou tente fazer suas negociações e pagamentos por
fora do site CRESCENDO E PASSANDO, seu cadastro poderá ser temporariamente suspenso ou cancelado
definitivamente.
</p> 
<h4>20. Sobre as RESPONSABILIDADES</h4> 
<p>O USUÁRIO reconhece que ao escolher e comprar produtos através do SITE, o faz por sua conta e risco,
confiando na idoneidade de quem VENDE. 
O SITE não é proprietário, vendedor ou negociador de qualquer produto listado em suas páginas, bem
como não se responsabiliza pelo cumprimento ou não dos compromissos assumidos entre COMPRADOR E
VENDEDOR. 
O SITE se compromete a fazer investimentos na contratação de infra-estrutura, visando a maior

estabilidade e disponibilidade possível do sistema, entretanto não pode garantir o funcionamento
ininterrupto do serviço, assim como a ausência de erros, em razão da dependência de serviços prestados
por terceiros.
</p> 
<h4>21. INDENIZAÇÃO</h4>
<p>O USUÁRIO OU VENDEDOR deverá indenizar o SITE por ônus decorrentes de suas atividades no SITE que
descumpram qualquer item deste Termo de Serviço ou pela violação de qualquer lei ou direitos de
terceiros, incluindo honorários de advogados.
</p> 
<h4>22. LEGISLAÇÃO APLICÁVEL E FORO</h4>
<p>Qualquer assunto referente à interpretação, ao cumprimento ou qualquer outro questionamento
relacionado a estes Termos de Uso, deverá ser submetido ao Foro do Rio de Janeiro.
</p>