<div class="row mt-4 footer">
  <img src="../assets/imgs/footer/msg.png" class="img-fluid" />
</div>
<div class="row pl-5 footer">
  <ul class="list-group list-group-flush semBg">
    <li class="list-group-item">
      <a href="#">Sobre nós</a>
    </li>
    <li class="list-group-item">
      <a href="#">Como comprar</a>
    </li>
    <li class="list-group-item">
      <a href="#">Como vender</a>
    </li>
    <li class="list-group-item">
      <a href="#">Dúvidas mais comuns</a>
    </li>
    <li class="list-group-item">
      <a href="#">Entre em contato</a>
    </li>
  </ul>
</div>
