<div class="row">
  <div class="col-12">
    <img src="../../../assets/imgs/banners/banner-produtos.png" class="img-fluid"/>
  </div>
  <div class="col-8">
    Filtrar por:
    <ul class="nav" style="flex-wrap:unset!important;">
      <li class="nav-item m-2">
          <img src="../../../assets/imgs/filters/boy-btn.png" class="img-fluid">
      </li>
      <li class="nav-item m-2">        
          <img src="../../../assets/imgs/filters/girl-btn.png" class="img-fluid">        
      </li>
      <li class="nav-item m-2">
          <img src="../../../assets/imgs/filters/unisex-btn.png" class="img-fluid">        
      </li>
      <li class="nav-item m-2">
        <img src="../../../assets/imgs/filters/mother-btn.png" class="img-fluid">
      </li>
      <li class="nav-item m-2">
        <img src="../../../assets/imgs/filters/father-btn.png" class="img-fluid"> 
      </li>
    </ul>
  </div>
  <div class="col-4">
    Tempo de uso:
    <ul class="nav" style="flex-wrap:unset!important;">
      <li class="nav-item m-2">
        <img src="../../../assets/imgs/filters/usado-btn.png" class="img-fluid">        
      </li>
      <li class="nav-item m-2">        
          <img src="../../../assets/imgs/filters/pouco-usado-btn.png" class="img-fluid">        
      </li>
      <li class="nav-item m-2">        
          <img src="../../../assets/imgs/filters/nunca-usado-btn.png" class="img-fluid">        
      </li>
    </ul>
  </div>
</div>