<div class="container">
    <div class="row bg-white">
        <div class="col-3">
            <img src="../assets/imgs/header/logo.png" class="img-fluid m-1">
        </div>
        <div class="col-5">
            <img src="../assets/imgs/header/frase.png" class="img-fluid mt-4">
        </div>
        <div class="col-4">
            <div class="row">
                <input type="text" class="form-control mt-lg-5 mr-lg-2 campoPesquisa" placeholder="O que você procura?">
            </div>
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light navbar-cor" style="width:100%;">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">PRODUTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LOJINHAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">QUERO VENDER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">QUERO COMPRAR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">AJUDA</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="row bg-white">
        <div class="navbar-decoration"></div>
    </div>
    <div class="row bg-white text-center">
        <img src="../assets/imgs/banners/banner-inicial.png" class="col-md-8 offset-md-2">
        <h3 class="col-md-8 offset-md-2">Seja bem vindo ao Crescendo e Passando!</h3>
        <p>AQUI VOCÊ PODE COMPRAR E VENDER ROUPAS, SAPATOS, BRINQUEDOS, MÓVEIS E ACESSÓRIOS QUASE NOVOS OU NUNCA USADOS PARA BEBÊS, CRIANÇAS, ADOLESCENTES ATÉ 18 ANOS E MAMÃES.</p>
    </div>
    <div class="row mt-5 footer">
        <img src="../assets/imgs/footer/msg.png" class="img-fluid">
    </div>
    <div class="row pl-5 footer">
        <ul class="list-group list-group-flush semBg">
            <li class="list-group-item">
                <a href="#">Sobre nós</a>
            </li>
            <li class="list-group-item">
                <a href="#">Como comprar</a>
            </li>
            <li class="list-group-item">
                <a href="#">Como vender</a>
            </li>
            <li class="list-group-item">
                <a href="#">Dúvidas mais comuns</a>
            </li>
            <li class="list-group-item">
                <a href="#">Entre em contato</a>
            </li>
        </ul>
    </div>
</div>