/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color:#6C6C6C;
}
body {
    background-image: url('assets/imgs/background/background.png');
}

.campoPesquisa {
    /* background-color:#FEC860; */
}

.headerLogo {
    width:195px;
    max-width:195px;
}

.headerFrase {
    width:325px;
    max-width: 325px;
}

.navbar-cor {
    background-color:#FFE289;
}

.navbar-decoration{
    margin-top:-6px;
	width: 100%;
	min-height: 35px;
	background-image: url('assets/imgs/navbar/navbar-decoration.png');
}

.semBg li {
    background-color:transparent!important;
    border:none!important;
    color:#6C6C6C!important;
}

.semBg li a, .semBg li a:visited {
    color:#6C6C6C;
}

.footer {
    background-color:#FEC860;
}